html{
    min-height: 100%;
    overflow: hidden;
}
body{
    color: rgba(235, 8, 216, 0.973);
    font-family: fantasy;
    background-color: rgba(49, 46, 46, 0.788);
}
.container{
    display: inline-block;
    margin: 10%;
}
.text{
    overflow: hidden;
    font-size: 4rem;
    font-weight: 700;
    border-right: 0.15em solid rgb(247, 4, 174);
    white-space: nowrap;
    animation: typing 3s steps(40, end), blink-caret .10s step-end infinite
}
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }

}
